pl_ingest.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "JsonSource",
            "formatSettings": {
              "type": "JsonReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            }
          },
          "datasetSettings": {
            "type": "Json",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "configs",
                "fileName": "file_config_test.json"
              }
            },
            "schema": {},
            "linkedService": {
              "name": "LH_Bronze",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "675eb702-998c-b4ff-4363-694d85f1ab87",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup1",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('Lookup1').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "DelimitedTextSource",
                  "formatSettings": {
                    "type": "DelimitedTextReadSettings"
                  },
                  "storeSettings": {
                    "type": "HttpReadSettings",
                    "requestMethod": "GET"
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "HttpServerLocation",
                        "relativeUrl": {
                          "value": "@item().source_url",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "750fb6e9-312e-4673-a160-92243122027b"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "DelimitedTextSink",
                  "formatSettings": {
                    "type": "DelimitedTextWriteSettings",
                    "fileExtension": ".txt"
                  },
                  "storeSettings": {
                    "type": "AzureBlobStorageWriteSettings"
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "AzureBlobStorageLocation",
                        "container": {
                          "value": "@concat('bronze/',item().file_name,   '/load_date=',   formatDateTime(utcNow(),'yyyy-MM-dd'),   '/' )",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "@concat(item().file_name, '_', formatDateTime(utcNow(),'yyyyMMdd'), '.csv')",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "LH_Bronze",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "675eb702-998c-b4ff-4363-694d85f1ab87",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false,
                "enableSkipIncompatibleRow": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 2,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "api_copy",
              "dependsOn": [
                {
                  "activity": "v_table",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                },
                {
                  "activity": "v_run_id",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "v_table_name",
                "value": {
                  "value": "@item().file_name",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "v_table",
              "dependsOn": []
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "v_run_id",
                "value": {
                  "value": "@pipeline().RunId",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "v_run_id",
              "dependsOn": []
            },
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "EXEC dbo.sp_log_bronze_ingestion\n    @table_name = '@{item().file_name}',\n    @pipeline_run_id = '@{pipeline().RunId}',\n    @activity_name = 'api_copy',\n    @status = '@{activity('api_copy').Status}',\n    @rows_read = @{activity('api_copy').output.dataRead},\n    @rows_written =  @{activity('api_copy').output.dataWritten},\n    @error_message = '@{if(\n        equals(activity('api_copy').Status, 'Failed'),\n        replace(activity('api_copy').error.message, '''', ''''''),\n        ''\n     )}',\n    @execution_start_time = '@{pipeline().TriggerTime}',\n    @execution_end_time = '@{utcNow()}';",
                      "type": "Expression"
                    },
                    "type": "Query"
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "linkedService": {
                "name": "house",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "3a022c71-d312-4382-a76f-b59195c5fd4d",
                    "endpoint": "kxqgblqraptexcbhphhmdszpea-tsnyur563biefffuy76hpb3xwu.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "478a9b9c-d8be-4250-94b4-c7fc778777b5"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "update bronze log success",
              "dependsOn": [
                {
                  "activity": "api_copy",
                  "dependencyConditions": [
                    "Completed"
                  ]
                }
              ]
            }
          ]
        },
        "name": "loop",
        "dependsOn": [
          {
            "activity": "Lookup1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "v_table_name": {
        "type": "String"
      },
      "v_run_id": {
        "type": "String"
      }
    }
  }
}